<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wizardry.qingyou_serve.mapper.TestMapper">

    <resultMap id="getTestMap" type="com.wizardry.qingyou_serve.entity.Test">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="uname" jdbcType="VARCHAR" property="uname" />
        <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    </resultMap>

    <select id="getTest" resultType="com.wizardry.qingyou_serve.entity.Test" resultMap="getTestMap">
        select * from test where id = #{id};
    </select>

</mapper>