<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wizardry.qingyou.mapper.UserMapper">

    <!-- sql片段抽取 -->
    <sql id="selectUser"> select * from users</sql>

    <!--<resultMap id="findByAccountTypeResultMap" type="User">
        <id property="id" column="id"/>
        <result property="psw" column="psw"/>
        <result property="uname" column="uname"/>
        <result property="email" column="email"/>
        <result property="createdDate" column="created_date"/>
        <result property="birthday" column="birthday"/>
        <result property="signature" column="signature"/>
        <result property="sex" column="sex"/>
        <result property="location" column="location"/>
        <result property="constellation" column="constellation"/>
        <result property="age" column="age"/>
        <result property="avatar" column="avatar"/>
        <result property="occupation" column="occupation"/>
        <result property="salt" column="salt"/>
    </resultMap>-->

    <!-- 用户模块-插入数据-注册 -->
    <!--<insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into users(id, psw, uname, phone, email, created_date, birthday, signature,
                          sex, location, constellation, age, avatar, occupation, salt)
        values (#{id}, #{psw}, #{uname}, #{phone}, #{email}, #{createdDate}, #{birthday}, #{signature}, #{sex},
                #{location}, #{constellation}, #{age}, #{avatar}, #{occupation}, #{salt})
    </insert>-->



    <!-- 验证前台传递过来的账户类型 -->
    <select id="findByAccountType" parameterType="user" resultType="user">
        <include refid="selectUser" />
        <where>
            <if test="uname!= null and  uname!='' ">
                uname = #{uname}
            </if>
            <if test="phone!= null and  phone!='' ">
                phone = #{phone}
            </if>
            <if test="email!= null and  email!='' ">
                email = #{email}
            </if>
        </where>
    </select>

    <!-- 资料-修改密码 -->
    <update id="updatePassword">
        update users
        set psw = #{psw}
        where id = #{id}
    </update>

    <!-- 修改密码前缀-查询id -->
    <select id="findByUid" resultType="User">
        <include refid="selectUser" />
        where id = #{id}
    </select>

    <!-- 更新用户的头像 -->
    <update id="updateAvatar">
        update users
        set avatar = #{avatar}
        where id = #{id}
    </update>

</mapper>